/* ===== General Styles ===== */
:root {
    /* Colors */
    --aqua-500: #15d2ae;
    --aqua-600: #14c8a7;
    --aqua-700: #12ba9b;

    --black-200: #A7AFC4;
    --black-300: #8391ad;
    --black-400: #394155;
    --black-500: #373737;

    --cyan-500: #11ceea;
    --cyan-600: #11c3df;
    --cyan-700: #10b7d1;

    --green-200: #AFF9C3;
    --green-500: #1d9f26;

    --grey-200: #E7EAEF;
    --grey-300: #D7DBE4;

    --red-200: #FBD3DC;
    --red-300: #F37A96;
    --red-500: #e01343;
    --red-600: #CD294F;

    --white-500: #ffffff;

    --yellow-200   : #FBE9C9;
    --yellow-500   : #f0b037;
    /* Other CSS Variables */
    --border-radius: 0.5em;
    --box-shadow   : 0 7px 30px -10px rgba(150, 170, 180, 0.5);

    /* Base font size */
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    color      : var(--black-400);
    font-family: "Sarabun", system-ui;
    font-weight: 500;
    min-height : 100vh;
    min-width  : 100vw;
    overflow-x : hidden;
}

/* ** Links ** */
a {
    color          : var(--black-400);
    text-decoration: none;
}

a:hover {
    color     : var(--aqua-700);
    transition: all 0.3s ease-in-out;
}

.link-colored {
    color: var(--aqua-500);
}

.link-colored:hover {
    color          : var(--aqua-700);
    text-decoration: underline;
}

/* ** Headings ** */
h1 {
    font-size  : 2.986em;
    font-weight: 700;
}

h2 {
    font-size  : 2.488em;
    font-weight: 700;
}

h3 {
    font-size  : 2.074em;
    font-weight: 700;
}

h4 {
    font-size  : 1.728em;
    font-weight: 700;
}

h5 {
    font-size  : 1.44em;
    font-weight: 700;
}

h6 {
    font-size  : 1.2em;
    font-weight: 700;
}

/* ** Body Texts ** */
p {
    font-size: 1.1em;
}

.text-secondary {
    color: var(--black-300) !important;
}

.small-text {
    font-size: 0.833em;
}

.caption-text {
    font-size: 0.694em;
}

.sub-heading {
    color: var(--aqua-500);
}

/* ** Buttons ** */

button,
.btn {
    border     : 0;
    font-weight: 600;
    outline    : 0;
    transition : all 0.3s ease-in-out !important;
}

/* Button DEFAULT State */
.btn-primary {
    background-image: linear-gradient(to right, var(--aqua-500), var(--cyan-500));
    color           : var(--white-500);
    text-transform  : uppercase;
}

/* Button HOVER State */
.btn-primary:hover {
    background-image: linear-gradient(to right, var(--aqua-600), var(--cyan-600));
    color           : var(--white-500);
}

/* Button ACTIVE State */
.btn-primary:active {
    background-image: linear-gradient(to right, var(--aqua-700), var(--cyan-700));
    color           : var(--white-500);
}

.btn-secondary {
    background-color: var(--black-500);
    color           : var(--white-500);
}

.btn-secondary:hover {
    background-color: var(--black-400);
}

.btn-danger {
    background-color: var(--red-500);
}

.btn-danger:hover {
    background-color: var(--red-600);
}

.btn-outline-dark {
    border: 2px solid var(--black-500);
    color : var(--black-400);
}

.btn-outline-dark:hover {
    background-color: var(--black-500);
    color           : var(--white-500);
}

/* ===== Home Page ===== */
/* >>> Header Component <<< */
header {
    background-image: url("./assets/images/bg.png");
    background-size : cover;
    height          : 100vh;
}

header::after {
    background-image: linear-gradient(to top, var(--white-500), transparent);
    bottom          : 0;
    content         : "";
    height          : 25%;
    left            : 0;
    position        : absolute;
    width           : 100%;
}

.hero-section p {
    margin-bottom: 1.5em;
    margin-top   : 1.25em;
}

/* >>> NavBar Component <<< */
.navbar .active {
    background-color: var(--black-400);
    color           : var(--white-500) !important;
    border-radius   : .25em;
}

.navbar-brand {
    height: 2.75em;
}

.navbar-brand .logo {
    height: 100%;
}

.nav-link:hover {
    color: var(--aqua-700);
}

/* >>> Header Component <<< */
.contact-information-section {
    z-index: 2;
}

/* >>> InfoCard Component <<< */
.info-card {
    border-radius: var(--border-radius);
    height       : 8em;
}

.info-primary {
    background-image: linear-gradient(to right, var(--aqua-500), var(--cyan-500));
}

.info-dark {
    background-color: var(--black-400);
}

.info-icon {
    height: 4.5em;
}

/* >>> ServiceCard Component <<< */
.service-card {
    border-radius: var(--border-radius);
    /* UI Soft */
    box-shadow   : var(--box-shadow);
}

.service-image {
    height: 5em;
}

/* >>> MakeAppointment Component <<< */
.appointment-section {
    background-image: url("./assets/images/appointment.png");
    background-size : cover;
    height          : 30em;
}

.appointment-container {
    height  : 100%;
    position: relative;
}

.appointment-img {
    bottom  : 0;
    height  : 125%;
    left    : 0;
    position: absolute;
    width   : auto;
}

/* >>> Testimonials Component <<< */
.testimonials-section {
    background-image   : url("./assets/images/quote.png");
    background-position: top right;
    background-repeat  : no-repeat;
}

/* >>> TestimonialCard Component <<< */
.testimonial-card {
    border-radius: var(--border-radius);
    /* UI Soft */
    box-shadow   : var(--box-shadow);
    min-height   : 21.5em;
}

.testimonial-card .author-photo {
    border       : 3px solid var(--aqua-500);
    border-radius: 50%;
    padding      : 2px;
    width        : 4.5em;
}

.testimonial-card .author-info p {
    margin-bottom: 0;
}

/* >>> ContactUs Component <<< */
.contact-us-section {
    background-image: url("./assets/images/appointment.png");
    background-size : cover;
}

input,
.contact-us-section textarea {
    background-color: var(--white-500);
    border          : 0;
    border-radius   : .25em;
    color           : var(--black-400);
    outline         : 0;
    padding         : 0.75em;
}

.contact-us-section textarea {
    height: 10em;
    resize: none;
}

.contact-us-section .submit-btn {
    width: fit-content;
}


/* >>> FormError Component <<< */
.form-error {
    background-color: var(--red-200);
    color           : var(--red-500);
    font-weight     : 600;
}

.form-error .form-error-message {
    margin : 0;
    padding: 0;
}

/* >>> Footer Component <<< */
.footer-section {
    background-image : url("./assets/images/footer.png");
    background-repeat: no-repeat;
    background-size  : cover;
}

/* >>> AppointmentHeader Component <<< */
/* React Calendar */
.react-calendar {
    background-color: var(--white-500);
    border          : 0;
    border-radius   : 1em;
    /* UI Soft */
    box-shadow      : var(--box-shadow);
    overflow        : hidden;
    width           : 20em;
}

.react-calendar button {
    background-color: transparent;
    border          : 0;
    color           : var(--black-400);
    outline         : 0;
    padding         : .7em .5em;
}

.react-calendar__tile:hover {
    background-color: var(--aqua-500);
    color           : var(--white-500) !important;
    transition      : all 0.2s ease-in-out;
}

.react-calendar__navigation {
    height  : 4em;
    position: relative;
    width   : 100%;
}

.react-calendar__navigation__label {
    font-size  : 1.25em;
    font-weight: 800;
    left       : .75em;
    padding    : 0 !important;
    position   : absolute;
    top        : 50%;
    transform  : translateY(-50%);
    width      : max-content;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
    display: none;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
    background-color: transparent !important;
    border          : 0;
    font-size       : 2em;
    line-height     : 0;
    margin          : 0;
    padding         : 0;
    position        : absolute;
    right           : .75em;
    top             : 45%;
    transform       : translateY(-45%);
}

.react-calendar__navigation .react-calendar__navigation__arrow {
    padding: 0;
}

.react-calendar__navigation__prev-button {
    right: 1.5em;
}

.react-calendar__month-view__weekdays {
    padding: .5em 0;

}

.react-calendar__month-view__weekdays__weekday {
    font-weight: 800;
    text-align : center;
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none !important;
}

.react-calendar__month-view__days__day--weekend,
.react-calendar__month-view__weekdays__weekday--weekend {
    color: var(--red-500) !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: var(--black-200) !important;
}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend.react-calendar__month-view__days__day--neighboringMonth {
    color: var(--red-300) !important;
}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend.react-calendar__month-view__days__day--neighboringMonth:hover {
    color: white !important;
}

.react-calendar__tile--active {
    background-color: var(--cyan-600) !important;
    color           : var(--white-500) !important;
}

/* >>> BookAppointmentCard Component <<< */
.book-appointment-card {
    box-shadow: var(--box-shadow);
}

.ReactModal__Body--open input {
    border : 2px solid var(--grey-300);
    padding: .5em .75em;
}

.ReactModal__Body--open input:disabled {
    background-color: var(--grey-300);
}

.ReactModal__Body--open .close-btn {
    background-color: var(--black-500);
    border-radius   : 50%;
    color           : var(--black-300);
    height          : 2em;
    margin          : 0;
    padding         : 0;
    width           : 2em;
}

.ReactModal__Body--open .close-btn:hover {
    color: var(--black-200);
}

.ReactModal__Body--open h4 {
    color: var(--black-500);
}

.ReactModal__Body--open .submit-btn {
    background-color: var(--black-500);
    color           : var(--white-500);
    width           : 100%;
}

.ReactModal__Body--open .submit-btn:hover {
    background-color: var(--black-400);
    color           : var(--grey-200);
}

/* ===== Login & Sign Up Page ===== */
.authentication-form-container-wrapper {
    height: calc(100vh - 4.5em);
}

.authentication-form-container {
    width     : 28em;
    min-height: 35.25em;
    position  : relative;
    overflow  : hidden;
}

.authentication-form-container fieldset {
    display       : flex;
    flex-direction: column;
}

.authentication-form-container input {
    background-color: var(--white-500);
    border          : 2px solid var(--grey-300);
    border-radius   : .25em;
    color           : var(--black-400);
    margin-top      : .25em;
    outline         : 0;
    padding         : 0.5em;
}

input:focus {
    border-color: var(--black-500);
}

.authentication-form-container button {
    padding: .7em;
}

.authentication-form-container .alternative {
    color   : var(--black-300);
    position: relative;
}

.authentication-form-container .alternative::before,
.authentication-form-container .alternative::after {
    background-color: var(--grey-300);
    content         : "";
    height          : 1px;
    position        : absolute;
    top             : 50%;
    width           : 40%;
}

.authentication-form-container .alternative::before {
    left: 0;
}

.authentication-form-container .alternative::after {
    right: 0;
}

.authentication-form-container .form-error {
    margin-top: .5em;
}

/* >>> LoginFormOverlay & SignUpFormOverlay Component <<< */
.form-overlay {
    width           : 100%;
    height          : 100%;
    position        : absolute;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    z-index         : 1000;
    background-color: rgba(255, 255, 255, .85);
}

/* >>> FormState Component <<< */
.state {
    color    : var(--black-400);
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    width    : 100%;
}

.state .icon-circle {
    border-radius: 1em;
    width        : 3em;
    height       : 3em;
}

.icon-circle svg {
    font-size: 1.5em;
}

.state h6 {
    text-align: center;
}

/* Error State */
.error-state .icon-circle {
    background-color: var(--red-200);
    color           : var(--red-500);
}

.error-state span {
    color: var(--red-500);
}

/* Processing State */
.processing-state h6 {
    animation: flash 1.5s ease-in-out infinite;
}

.processing-state .icon-circle {
    background-color: var(--yellow-200);
    color           : var(--yellow-500);
}

.processing-state span {
    color: var(--yellow-500);
}

/* Success State */
.success-state .icon-circle {
    color           : var(--green-500);
    background-color: var(--green-200);
}

.success-state span {
    color: var(--green-500);
}

/* ===== NotFound Page ===== */
.not-found-page {
    height: 100vh;
    color : var(--black-200);
}

.not-found-page .icon {
    font-size: 4em;
}

/* Animations */

/* Flash Animation */
@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}

/* Dot Loading Animation */
@keyframes dotLoading {
    0% {
        content: '.';
    }

    33% {
        content: '..';
    }

    66% {
        content: '...';
    }
}

.loading-dots::after {
    content  : '.';
    color    : var(--black-400);
    display  : inline-block;
    animation: dotLoading 2.5s infinite steps(1, end);
}